services:
    Dbp\Relay\EsignBundle\Service\PdfAsApi:
        public: false
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\HealthCheck\HealthCheck:
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\Controller\:
        resource: '../../Controller'
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\State\:
        resource: '../../State'
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\Commands\:
        resource: '../../Commands'
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\Callbacks\:
        resource: '../../Callbacks'
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\Configuration\:
        resource: '../../Configuration'
        autowire: true
        autoconfigure: true

    Dbp\Relay\EsignBundle\Authorization\:
        resource: '../../Authorization'
        autowire: true
        autoconfigure: true
